# build files
.idea/
.vscode/
node_modules/

# local development files
.logs/
*.log
files/

# spam
.DS_Store

# git
.git
.gitignore

# prettier
.prettierignore

# ci
.github

# markdown
LICENSE.md
README.md

# custom template
custom-template.ejs

# tailwind files
tailwind.config.js
public/styles/tailwind.css

# installer
docker-install.sh

# local, debug config files
configuration/config.debug.json
configuration/config.local.json