# IntelliJ project files
.idea
*.iml

# vs code
.vscode

# logs
.logs
*.log
.DS_Store

# project specific data files folder
files

# auto gen
node_modules

# debug configuration
configuration/config.debug.json
configuration/config.local.json

# custom template used for tests
custom-template.ejs