<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home - Ghosler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            font-family: serif;
            background-color: #f4f4f4
        }

        .cardview, .message {
            padding: 20px;
            margin: 20px auto;
            background-color: #fff;
            box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
            border-radius: 10px;
            max-width: 50%;
            text-align: left;
        }

        .message {
            padding: 18px;
            box-shadow: none;
            font-weight: 600;
        }

        .header {
            padding: 20px;
            text-align: left;
            font-size: 1.25rem;
            background-color: #1b2d48;
            color: #fff;
            font-weight: 500
        }

        h3 {
            margin: 1em 0;
            color: #1b2d48;
            font-weight: 700;
        }

        button {
            padding: 12px 25px;
            margin: 10px;
            border: none;
            border-radius: 12px;
            background-color: #1b2d48;
            color: #fff;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
        }

        p {
            line-height: 1.6;
            color: #555;
        }

        .message-success {
            color: #155724;
            background-color: #d4edda;
            border: 1px solid #c3e6cb;
        }

        .message-error {
            color: #721c24;
            background-color: #f8d7da;
            border: 1px solid #f5c6cb;
        }

        @media screen and (max-width: 480px) {
            .cardview, .message {
                max-width: 80%;
            }

            h3, p {
                font-size: 1rem;
            }
        }
    </style>
</head>

<body>
<div class="header">Home - Ghosler</div>

<% if ((typeof message !== 'undefined' && message && message.toString().length > 0)) { %>
    <div class="message <% if (level === 'success') { %> message-success <% } else { %> message-error <% } %>">
        <%- message; %>
    </div>
<% } %>

<div class="cardview">
    <p>Ghosler - Ghost Newsletters, enables easy sending of newsletter using your own email and SMTP credentials.</p>
    <p>It bypasses the limitations of the hardcoded mail provider setup on Ghost and supports tracking email
        deliverability and monitoring opens, with the capability to use multiple email accounts.</p>

    <h3>Edit Settings, Explore Analytics or Check Logs</h3>
    <button onclick="window.location='/settings'">Settings</button>
    <button onclick="window.location='/analytics'">Analytics</button>
    <button onclick="window.location='/logs/debug'">Debug Logs</button>
    <button onclick="window.location='/logs/error'">Error Logs</button>
</div>
</body>
</html>
