<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <title>Password - Ghosler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            font-family: serif;
            background-color: #f4f4f4;
        }

        .cardview, .message {
            padding: 20px;
            margin: 20px auto;
            background-color: #fff;
            box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
            border-radius: 10px;
            max-width: 50%;
            text-align: left;
        }

        .message {
            padding: 18px;
            box-shadow: none;
            font-weight: 600;
        }

        .header {
            padding: 20px;
            background-color: #1b2d48;
            color: #fff;
            font-size: 1.25rem;
            font-weight: 500;
        }

        input, textarea, .submit-button {
            width: 100%;
            padding: 12px;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-family: serif;
            font-size: 16px;
        }

        input::placeholder, textarea::placeholder {
            color: #888;
            font-style: italic;
            font-size: 0.9em;
        }

        .submit-button {
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        .submit-button:hover {
            background-color: #45a049;
        }

        .message-success {
            color: #155724;
            background-color: #d4edda;
            border: 1px solid #c3e6cb;
        }

        .message-error {
            color: #721c24;
            background-color: #f8d7da;
            border: 1px solid #f5c6cb;
        }

        @media screen and (max-width: 480px) {
            .cardview, .message {
                max-width: 80%;
            }
        }
    </style>
</head>
<body>

<div class="header">Password - <a href="/" style="text-decoration: none; color: white">Ghosler</a></div>

<% if ((typeof message !== 'undefined' && message && message.toString().length > 0)) { %>
    <div class="message <% if (level === 'success') { %> message-success <% } else { %> message-error <% } %>">
        <%- message; %>
    </div>
<% } %>

<form action="/password" method="post">
    <div class="cardview">
        <div class="form-group">
            <label>Current Password</label>
            <input type="password" name="ghosler.auth.pass" required>
        </div>

        <div class="form-group">
            <label>New Password</label>
            <input type="password" name="ghosler.auth.new_pass" required>
        </div>

        <div class="form-group">
            <label>New Password Again</label>
            <input type="password" name="ghosler.auth.new_pass_confirm" required>
        </div>

        <div style="text-align: center; margin: auto;">
            <input type="submit" value="Save Changes" class="submit-button">
        </div>
    </div>
</form>
</body>
</html>