<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <title>Unauthorized Access - Ghosler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            font-family: serif;
            background-color: #f4f4f4;
        }

        .header {
            padding: 20px;
            background-color: #1b2d48;
            color: #fff;
            font-size: 1.25rem;
            font-weight: 500;
        }

        h2 {
            margin: .25em 0;
            font-size: 1.25rem;
            font-weight: 700;
        }
    </style>
</head>
<body>

<div class="header">Unauthorized Access - <a href="/" style="text-decoration: none; color: white">Ghosler</a></div>

<h2 style="text-align: center; color: #666; margin: 25px;">Oops! Unauthorized Access.</h2>
<p style="text-align: center; color: #666; margin: 25px; line-height: 2">
    You don't have permission to view the requested page.
    <br>Please verify your login details or return to the
    <a href="/" style="color: #007bff;">homepage</a>.
</p>
</body>
</html>