<!DOCTYPE html>
<html lang="en">
<head>
    <title>Not Found - Ghosler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= ghoslerUrl %>/styles/style.css" rel="stylesheet"/>
</head>

<body class="bg-gray-900 text-gray-300 flex flex-col min-h-screen font-serif">

<%- include('../partials/common/header.ejs') %>

<main class="container mx-auto p-6 flex-grow text-center">
    <h2 class="text-6xl font-bold mb-4">404</h2>
    <p class="mx-auto max-w-md mb-6">
        The page you're searching for seems to be missing.
        It might have been removed or might have had its name changed.
    </p>

    <p>
        Please check the URL for any typos or
        <br>return to the
        <a href="<%= ghoslerUrl %>/" class="text-blue-400 hover:text-blue-500">homepage</a> to find your way.
    </p>
</main>

<%- include('../partials/common/footer.ejs') %>

</body>
</html>
