<!-- Featured image and caption -->
<% if (show_featured_image && post.featuredImage) { %>
    <tr>
        <td align="center" style="padding: 20px 20px 10px 20px;">
            <img src="<%= post.featuredImage %>" alt="Feature Image" width="100%"
                 style="max-width: 600px; height: auto; border-radius: 5px;  background: #88888822;"/>
            <% if (post.featuredImageCaption) { %>
                <p style="color: #888888; font-size: 12px; font-weight: 300; font-style: oblique; font-family: Georgia, 'Times New Roman', Times, serif; margin: 4px 0;">
                    <%- post.featuredImageCaption %>
                </p>
            <% } %>
        </td>
    </tr>
<% } else { %>
    <tr>
        <td>
            <hr style="border: 0; border-bottom: 1px solid #eeeeee; margin: 16px 25px 6px;">
        </td>
    </tr>
<% } %>

<!-- Post content -->
<tr>
    <td style="padding: 0 30px 0; color: #555555; font-size: 15px; font-family: Georgia, 'Times New Roman', Times, serif; line-height: 24px;">
        <%- post.content %>
    </td>
</tr>