<!-- Preview Text For Emails -->
<div
        style="display: none; font-size: 1px; color: #ffffff; line-height: 1px; max-height: 0; max-width: 0; opacity: 0; overflow: hidden;">
    <% if (post.preview) { %>
        <%= post.preview %>
    <% } %>
</div>