<footer class="bg-gray-800 text-gray-400 p-6 mt-8">
    <div class="text-center">
        <a href="https://github.com/itznotabug/ghosler" target="_blank" class="text-gray-300 hover:text-gray-100">Ghosler</a>
        by
        <a href="https://github.com/itznotabug" target="_blank" class="text-gray-300 hover:text-gray-100">ItzNotABug</a>

        <p class="text-xs mt-2">Contributions and feedback are welcome!
    </div>
</footer>