<header class="bg-gradient-to-r from-gray-700 via-gray-750 to-gray-800 p-6 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
        <div>
            <div class="flex flex-row items-center space-x-2">
                <a href="https://github.com/ItzNotABug/ghosler"
                   target="_blank"
                   class="text-gray-300 hover:text-white transition duration-300">
                    <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.44 9.8 8.2 11.39.6.11.82-.26.82-.58 0-.29-.01-1.05-.02-2.06-3.34.73-4.03-1.61-4.03-1.61-.55-1.39-1.34-1.76-1.34-1.76-1.09-.74.08-.73.08-.73 1.2.09 1.83 1.23 1.83 1.23 1.07 1.83 2.81 1.3 3.5.99.11-.77.42-1.3.76-1.6-2.66-.3-5.47-1.33-5.47-5.93 0-1.31.47-2.38 1.24-3.22-.12-.3-.54-1.52.12-3.16 0 0 1.01-.32 3.3 1.23.96-.27 1.98-.4 3-.4s2.04.13 3 .4c2.29-1.55 3.3-1.23 3.3-1.23.66 1.64.24 2.86.12 3.16.77.84 1.24 1.91 1.24 3.22 0 4.61-2.81 5.63-5.49 5.93.43.37.81 1.1.81 2.22 0 1.6-.01 2.89-.01 3.29 0 .32.21.7.82.58C20.56 21.8 24 17.3 24 12c0-6.63-5.37-12-12-12z"/>
                    </svg>
                </a>

                <div class="flex items-baseline space-x-1.5">
                    <a href="<%= ghoslerUrl %>/"
                       class="text-2xl font-bold text-gray-300 hover:text-white transition duration-300">Ghosler</a>

                    <% if (version) { %>
                        <a href="https://github.com/ItzNotABug/ghosler/releases"
                           class="text-[11px] text-gray-400 hover:text-white transition duration-300"
                           target="_blank">(<%= version %>)</a>
                    <% } %>
                </div>
            </div>
            <p class="text-sm mt-1 text-gray-400">Send newsletters to your Ghost subscribers!</p>
        </div>

        <% if (typeof showLogout === 'undefined') {
            showLogout = true;
        } %>

        <% if (showLogout) { %>
            <nav>
                <ul class="flex space-x-4 items-center">
                    <li>
                        <span title="Logout">
                            <svg class="cursor-pointer h-8 w-8 text-gray-300 hover:text-white transition duration-300"
                                 fill="currentColor" viewBox="0 0 24 24"
                                 onclick="if (confirm('Do you really want to logout? Click OK to logout.')) {window.location = '<%= ghoslerUrl %>/logout'}"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.9 11.6c-.1-.1-.1-.2-.2-.3l-3-3c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l1.3 1.3H13c-.6 0-1 .4-1 1s.4 1 1 1h4.6l-1.3 1.3c-.4.4-.4 1 0 1.4.2.2.5.3.7.3s.5-.1.7-.3l3-3c.1-.1.2-.2.2-.3.1-.3.1-.5 0-.8z"></path>
                                <path d="M15.5 18.1c-1.1.6-2.3.9-3.5.9-3.9 0-7-3.1-7-7s3.1-7 7-7c1.2 0 2.4.3 3.5.9.5.3 1.1.1 1.4-.4.3-.5.1-1.1-.4-1.4C15.1 3.4 13.6 3 12 3c-5 0-9 4-9 9s4 9 9 9c1.6 0 3.1-.4 4.5-1.2.5-.3.6-.9.4-1.4-.3-.4-.9-.6-1.4-.3z"></path>
                            </svg>
                        </span>
                    </li>
                </ul>
            </nav>
        <% } %>
    </div>
</header>
