<!-- Powered By -->
<% if (show_powered_by_ghost || show_powered_by_ghosler) { %>
    <tr>
        <td style="padding-bottom: 24px; padding-top: 24px; text-align: center; color: #a9a9a9; font-size: 14px; font-family: 'Times New Roman', Times, serif; line-height: 18px;">
            <div style="margin-top: 8px;">
                <% if (show_powered_by_ghost) { %>
                    <a href="https://ghost.org/"
                       style="color: #888; font-size: 14px; font-family: 'Times New Roman', Times, serif; font-weight: bolder; text-decoration: none;"
                       target="_blank">
                        <img src="<%= resources.url; %>/images/ghost.png" width="18" height="18"
                             style="vertical-align: -3.5px;" alt=""
                             onerror="this.style.display='none'">
                        Powered by <u>Ghost</u></a>
                <% } %>

                <% if (show_powered_by_ghost && show_powered_by_ghosler) { %>
                    <p></p>
                <% } %>

                <% if (show_powered_by_ghosler) { %>
                    <a href="https://github.com/ItzNotABug/ghosler"
                       style="color: #888; font-size: 14px; font-family: 'Times New Roman', Times, serif; font-weight: bold; text-decoration: none"
                       target="_blank">Newsletter delivered using <u>Ghosler️</u></a>
                <% } %>
            </div>
        </td>
    </tr>
<% } %>