<!-- Footer -->
<tr>
    <td
            style="padding: 20px 30px; text-align: center; color: #a9a9a9; font-size: 14px; font-family: 'Times New Roman', Times, serif; line-height: 18px;">
        <% if (typeof footer_content !== 'undefined' && footer_content) { %>
            <div style="margin-bottom: 30px;">
                <%- footer_content; %>
            </div>
        <% } %>

        <p style="margin: 0;">
            <%= site.title; %> © <%= new Date().getFullYear(); %>
            — <a href="<%= newsletter.unsubscribeLink; %>" target="_blank" style="color: #a9a9a9;">Unsubscribe</a>
        </p>
    </td>
</tr>