<!-- Newsletter Settings -->
<!--suppress ALL -->
<div class="cardview">
    <div class="card-header" onclick="toggleCard(this, 'newsletterSettings')">
        <h3>Newsletter Settings</h3>
        <i class="arrow down"></i>
    </div>

    <div id="newsletterSettings" style="display: none;">
        <div class="form-group-row">
            <label>Center Title</label>
            <input type="checkbox" name="newsletter.center_title"
            <% if (Boolean(configs.newsletter.center_title)) { %> checked
                    <% } %>
            >
        </div>

        <div class="form-group-row">
            <label>Track URL Clicks
                <span style="font-weight: normal; font-size: 12px; color: #738a94">
                    (<a href="https://github.com/itznotabug/ghosler/pull/8" target="_blank"
                        style="text-decoration: none; color: dodgerblue">See</a> what URLs are tracked)
                </span>
            </label>
            <input type="checkbox" name="newsletter.track_links"
            <% if (Boolean(configs.newsletter.track_links)) { %> checked
                    <% } %>
            >
        </div>

        <div class="form-group-row">
            <label>Show Feedback</label>
            <input type="checkbox" name="newsletter.show_feedback"
            <% if (Boolean(configs.newsletter.show_feedback)) { %> checked
                    <% } %>
            >
        </div>

        <div class="form-group-row">
            <label>Show Comments</label>
            <input type="checkbox" name="newsletter.show_comments"
            <% if (Boolean(configs.newsletter.show_comments)) { %> checked
                    <% } %>
            >
        </div>

        <div class="form-group-row">
            <label>Show Latest Posts</label>
            <input type="checkbox" name="newsletter.show_latest_posts"
            <% if (Boolean(configs.newsletter.show_latest_posts)) { %> checked
                    <% } %>
            >
        </div>

        <div class="form-group-row">
            <label>Show Subscription</label>
            <input type="checkbox" name="newsletter.show_subscription"
            <% if (Boolean(configs.newsletter.show_subscription)) { %> checked
                    <% } %>
            >
        </div>

        <div class="form-group-row">
            <label>Show Featured Image</label>
            <input type="checkbox" name="newsletter.show_featured_image"
            <% if (Boolean(configs.newsletter.show_featured_image)) { %> checked
                    <% } %>
            >
        </div>

        <div class="form-group-row">
            <label>Show 'Powered by Ghost'</label>
            <input type="checkbox" name="newsletter.show_powered_by_ghost"
            <% if (Boolean(configs.newsletter.show_powered_by_ghost)) { %> checked
                    <% } %>
            >
        </div>

        <div class="form-group-row">
            <label>Show 'Newsletter delivered using Ghosler'</label>
            <input type="checkbox" name="newsletter.show_powered_by_ghosler"
            <% if (Boolean(configs.newsletter.show_powered_by_ghosler)) { %> checked
                    <% } %>
            >
        </div>

        <div class="form-group">
            <label>Footer Content</label>
            <textarea name="newsletter.footer_content"><%= configs.newsletter.footer_content; %></textarea>
        </div>

        <p>Note: Save Changes before Preview</p>
        <button type="button" class="submit-button" onclick="parent.open('/preview', '_blank')">Preview</button>
    </div>
</div>