<!-- Newsletter Settings -->
<div class="bg-gray-800 rounded-lg shadow-md p-4 mb-4">
    <div class="flex justify-between items-center cursor-pointer" onclick="toggleCard(this, 'newsletterSettings')">
        <h3 class="text-lg text-gray-300 font-bold">Newsletter Settings</h3>
        <svg class="h-6 w-6 text-gray-300 rotate-0 transform" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
    </div>

    <div id="newsletterSettings" class="mt-4" style="display: none;">
        <!-- Center Title Checkbox -->
        <div class="form-group mb-4 flex items-center">
            <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-600 rounded border-gray-600 mr-2"
                   id="newsletter.center_title" name="newsletter.center_title"
            <% if (Boolean(configs.newsletter.center_title)) { %> checked
                    <% } %>
            >
            <label for="newsletter.center_title" class="text-gray-300">Center Title</label>
        </div>

        <!-- Track URL Clicks Checkbox -->
        <div class="form-group mb-4">
            <div class="flex items-center">
                <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-600 rounded border-gray-600 mr-2"
                       id="newsletter.track_links" name="newsletter.track_links"
                <% if (Boolean(configs.newsletter.track_links)) { %> checked
                        <% } %>
                >
                <label for="newsletter.track_links" class="text-gray-300">Track URL Clicks</label>
            </div>

            <a href="https://github.com/itznotabug/ghosler/pull/8" target="_blank"
               class="text-xs text-blue-300 hover:text-blue-500">Click to see what URLs are tracked</a>
        </div>

        <!-- Show Feedback Checkbox -->
        <div class="form-group mb-4 flex items-center">
            <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-600 rounded border-gray-600 mr-2"
                   id="newsletter.show_feedback" name="newsletter.show_feedback"
            <% if (Boolean(configs.newsletter.show_feedback)) { %> checked
                    <% } %>
            >
            <label for="newsletter.show_feedback" class="text-gray-300">Show Feedback</label>
        </div>

        <!-- Show Comments Checkbox -->
        <div class="form-group mb-4 flex items-center">
            <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-600 rounded border-gray-600 mr-2"
                   id="newsletter.show_comments" name="newsletter.show_comments"
            <% if (Boolean(configs.newsletter.show_comments)) { %> checked
                    <% } %>
            >
            <label for="newsletter.show_comments" class="text-gray-300">Show Comments</label>
        </div>

        <!-- Show Latest Posts Checkbox -->
        <div class="form-group mb-4 flex items-center">
            <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-600 rounded border-gray-600 mr-2"
                   id="newsletter.show_latest_posts" name="newsletter.show_latest_posts"
            <% if (Boolean(configs.newsletter.show_latest_posts)) { %> checked
                    <% } %>
            >
            <label for="newsletter.show_latest_posts" class="text-gray-300">Show Latest Posts</label>
        </div>

        <!-- Show Subscription Checkbox -->
        <div class="form-group mb-4 flex items-center">
            <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-600 rounded border-gray-600 mr-2"
                   id="newsletter.show_subscription" name="newsletter.show_subscription"
            <% if (Boolean(configs.newsletter.show_subscription)) { %> checked
                    <% } %>
            >
            <label for="newsletter.show_subscription" class="text-gray-300">Show Subscription</label>
        </div>

        <!-- Show Featured Image Checkbox -->
        <div class="form-group mb-4 flex items-center">
            <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-600 rounded border-gray-600 mr-2"
                   id="newsletter.show_featured_image" name="newsletter.show_featured_image"
            <% if (Boolean(configs.newsletter.show_featured_image)) { %> checked
                    <% } %>
            >
            <label for="newsletter.show_featured_image" class="text-gray-300">Show Featured Image</label>
        </div>

        <!-- Show 'Powered by Ghost' Checkbox -->
        <div class="form-group mb-4 flex items-center">
            <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-600 rounded border-gray-600 mr-2"
                   id="newsletter.show_powered_by_ghost" name="newsletter.show_powered_by_ghost"
            <% if (Boolean(configs.newsletter.show_powered_by_ghost)) { %> checked
                    <% } %>
            >
            <label for="newsletter.show_powered_by_ghost" class="text-gray-300">Show 'Powered by Ghost'</label>
        </div>

        <!-- Show 'Newsletter delivered using Ghosler' Checkbox -->
        <div class="form-group mb-4 flex items-center">
            <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-600 rounded border-gray-600 mr-2"
                   id="newsletter.show_powered_by_ghosler" name="newsletter.show_powered_by_ghosler"
            <% if (Boolean(configs.newsletter.show_powered_by_ghosler)) { %> checked
                    <% } %>
            >
            <label for="newsletter.show_powered_by_ghosler" class="text-gray-300">Show 'Newsletter
                delivered using Ghosler'</label>
        </div>

        <!-- Custom Subject Input -->
        <div class="form-group mb-6">
            <label for="newsletter.custom_subject_pattern" class="block text-gray-300 font-bold mb-1">Custom Email
                Subject Pattern</label>
            <input type="text" inputmode="text" placeholder="Default is Post Title"
                   id="newsletter.custom_subject_pattern"
                   name="newsletter.custom_subject_pattern" autocomplete="off"
                   value="<%= configs.newsletter.custom_subject_pattern || '{{post_title}}'; %>"
                   class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 bg-gray-700 text-white">

            <div class="text-xs text-gray-400 my-2 ml-0.5">Only '•' is supported as a separator.
                <br>
                <strong>Note</strong>: Primary Tag may not always be available for a Post.
                Primary Tag can have a '#' as prefix.
            </div>

            <div class="flex flex-wrap gap-x-2 text-xs text-gray-300 mt-2">
                <pre class="rounded-lg bg-gray-600 p-2 cursor-pointer hover:bg-gray-700 mb-2 md:mb-0"
                     onclick="handleSubjectItemClick('{{post_title}}')"><code>{{post_title}}</code></pre>
                <pre class="rounded-lg bg-gray-600 p-2 cursor-pointer hover:bg-gray-700 mb-2 md:mb-0"
                     onclick="handleSubjectItemClick('{{primary_tag}}')"><code>{{primary_tag}}</code></pre>
                <pre class="rounded-lg bg-gray-600 p-2 cursor-pointer hover:bg-gray-700 mb-2 md:mb-0"
                     onclick="handleSubjectItemClick('{{primary_author}}')"><code>{{primary_author}}</code></pre>
                <pre class="rounded-lg bg-gray-600 p-2 cursor-pointer hover:bg-gray-700 mb-2 md:mb-0"
                     onclick="handleSubjectItemClick('{{newsletter_name}}')"><code>{{newsletter_name}}</code></pre>
            </div>
        </div>

        <!-- Footer Content Textarea -->
        <div class="form-group mb-4">
            <label for="newsletter.footer_content" class="block text-gray-300 font-bold mb-2">Footer Content</label>
            <textarea id="newsletter.footer_content" name="newsletter.footer_content"
                      class="bg-gray-700 text-white rounded border border-gray-600 w-full py-2 px-3 min-h-40"><%= configs.newsletter.footer_content; %></textarea>
        </div>

        <p class="text-gray-400 mb-4">Note: Save Changes before Preview</p>

        <button type="button" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                onclick="parent.open('<%= ghoslerUrl %>/preview', '_blank')">Preview
        </button>
    </div>
</div>

<script>
    // keep a global reference.
    const input = document.getElementById('newsletter.custom_subject_pattern');

    function handleSubjectItemClick(selectedValue) {
        // don't add placeholder if it already exists.
        if (input.value.includes(selectedValue)) return;

        // Define the value to be inserted with the bullet
        let valueToInsert = ` • ${selectedValue}`;
        if (selectedValue === '{{primary_tag}}') {
            // we support hashtags for primary tag.
            valueToInsert = ` • #${selectedValue}`;
        }

        // Check if the input is the active (focused) element
        const isInputFocused = (input === document.activeElement);

        let cursorPos = input.selectionStart;
        const inputValue = input.value;

        if (isInputFocused) {
            // Input is focused, insert at the cursor position
            const textBefore = inputValue.substring(0, cursorPos);
            const textAfter = inputValue.substring(cursorPos);

            input.value = textBefore + valueToInsert + textAfter;
            cursorPos += valueToInsert.length;
        } else {
            // Input is not focused, append at the end
            input.value = inputValue + valueToInsert;
            cursorPos = input.value.length;
        }

        input.selectionStart = cursorPos;
        input.selectionEnd = cursorPos;
        input.focus();
    }
</script>
