<!-- Ghosler Settings -->
<div class="bg-gray-800 rounded-lg shadow-md p-4 mb-4">
    <div class="flex justify-between items-center cursor-pointer" onclick="toggleCard(this, 'ghoslerSettings')">
        <h3 class="text-lg text-gray-300 font-bold">Profile</h3>
        <svg class="h-6 w-6 text-gray-300 rotate-0 transform" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
    </div>

    <div id="ghoslerSettings" class="mt-4" style="display: none;">
        <div class="mb-4">
            <label for="ghosler.auth.user" class="block text-gray-300 font-bold mb-2">Username</label>
            <input type="text" value="<%= configs.ghosler.auth.user; %>" id="ghosler.auth.user" name="ghosler.auth.user"
                   class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white">
        </div>


        <button type="button" onclick="window.location='<%= ghoslerUrl %>/password'"
                class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Change Password
        </button>
    </div>
</div>
